# 6.1 Sourcing Open Data

In [38]:
# import libraries

import pandas as pd
import numpy as np
import os
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib

In [39]:
matplotlib.__version__

'3.1.3'

In [40]:
# ensure charts are displayed in notebook without calling them

%matplotlib inline

In [3]:
# import file

df = pd.read_csv(r'file:///Users/Celona/Downloads/country_vacc.csv', index_col = False)

In [4]:
# check shape

df.shape

(43145, 15)

In [5]:
# view df

df.head()

,country,iso_code,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,daily_vaccinations_raw,daily_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,daily_vaccinations_per_million,vaccines,source_name,source_website
0,Afghanistan,AFG,2021-02-22,0.0,0.0,NaN,NaN,NaN,0.0,0.0,NaN,NaN,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi...",World Health Organization,https://app.powerbi.com/view?r=eyJrIjoiYTkyM2V...
1,Afghanistan,AFG,2021-02-23,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,34.0,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi...",World Health Organization,https://app.powerbi.com/view?r=eyJrIjoiYTkyM2V...
2,Afghanistan,AFG,2021-02-24,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,34.0,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi...",World Health Organization,https://app.powerbi.com/view?r=eyJrIjoiYTkyM2V...
3,Afghanistan,AFG,2021-02-25,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,34.0,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi...",World Health Organization,https://app.powerbi.com/view?r=eyJrIjoiYTkyM2V...
4,Afghanistan,AFG,2021-02-26,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,34.0,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi...",World Health Organization,https://app.powerbi.com/view?r=eyJrIjoiYTkyM2V...

In [10]:
# import second data set

df1 = pd.read_csv(r'file:///Users/Celona/Downloads/country_vacc2.csv', index_col = False)

In [11]:
# check shape

df1.shape

(15104, 4)

In [19]:
# view df1

df1.tail()

             location        date             vaccine  total_vaccinations
15099  European Union  2021-09-07             Moderna            53493461
15100  European Union  2021-09-07  Oxford/AstraZeneca            67013158
15101  European Union  2021-09-07     Pfizer/BioNTech           380676653
15102  European Union  2021-09-07   Sinopharm/Beijing             2089836
15103  European Union  2021-09-07           Sputnik V             1839048

### Data Cleaning

In [7]:
# delete column

del df['source_website']

In [24]:
# renaming columns

df.rename(columns = {'total_vaccinations':'total_vacc','people_vaccinated':'ppl_vacc','people_fully_vaccinated':'ppl_fully_vacc','daily_vaccinations_raw':'daily_vacc_raw','daily_vaccinations':'daily_vacc','total_vaccinations_per_hundred':'total_vacc_per_hund','people_vaccinated_per_hundred':'ppl_vacc_per_hund','daily_vaccinations_per_million':'daily_vacc_per_mill','people_fully_vaccinated_per_hundred':'ppl_fully_vacc_per_hund'}, inplace = True)

In [25]:
df.dtypes

country                     object
iso_code                    object
date                        object
total_vacc                 float64
ppl_vacc                   float64
ppl_fully_vacc             float64
daily_vacc_raw             float64
daily_vacc                 float64
total_vacc_per_hund        float64
ppl_vacc_per_hund          float64
ppl_fully_vacc_per_hund    float64
daily_vacc_per_mill        float64
vaccines                    object
source_name                 object
dtype: object

### missing values check:

In [46]:
# check for missing values

df.isnull().sum() # lots of missing values

country                        0
iso_code                       0
date                           0
total_vacc                 19579
ppl_vacc                   20667
ppl_fully_vacc             23577
daily_vacc_raw             23803
daily_vacc                   237
total_vacc_per_hund        19579
ppl_vacc_per_hund          20667
ppl_fully_vacc_per_hund    23577
daily_vacc_per_mill          237
vaccines                       0
source_name                    0
dtype: int64

In [37]:
df.describe()

,total_vacc,ppl_vacc,ppl_fully_vacc,daily_vacc_raw,daily_vacc,total_vacc_per_hund,ppl_vacc_per_hund,ppl_fully_vacc_per_hund,daily_vacc_per_mill
count,2.356600e+04,2.247800e+04,1.956800e+04,1.934200e+04,4.290800e+04,23566.000000,22478.000000,19568.000000,42908.000000
mean,1.883726e+07,8.072089e+06,4.997908e+06,2.585451e+05,1.295117e+05,41.187589,25.164684,18.296327,3581.597464
std,1.081814e+08,3.022117e+07,1.783659e+07,1.330244e+06,8.866319e+05,43.284737,23.787232,20.465884,4494.778919
min,0.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000000
25%,1.916785e+05,1.561700e+05,7.371675e+04,5.017500e+03,8.470000e+02,4.830000,3.740000,2.130000,501.000000
50%,1.357706e+06,9.465780e+05,5.660290e+05,2.427250e+04,6.788500e+03,24.120000,16.860000,9.460000,2196.000000
75%,7.207125e+06,4.373221e+06,2.857599e+06,1.100740e+05,4.092275e+04,68.425000,43.590000,28.990000,5380.250000
max,2.119025e+09,1.072500e+09,8.894390e+08,2.474100e+07,2.242429e+07,234.150000,117.710000,116.440000,117497.000000

In [29]:
# check for missing values

df1.isnull().sum() # no missing values

location              0
date                  0
vaccine               0
total_vaccinations    0
dtype: int64

### duplicates check:

In [27]:
# find duplicates

df_dups = df[df.duplicated()]

In [28]:
df_dups.shape #no duplicates

(0, 14)

In [30]:
# find duplicates

df1_dups = df1[df1.duplicated()]

In [31]:
df1_dups.shape # no duplicates

(0, 4)

### mixed_type data:

In [34]:
# check for mixed-types

for col in df.columns.tolist():
    weird = (df[[col]].applymap(type) != df[[col]].iloc[0].apply(type)).any(axis = 1)
    if len (df[weird]) > 0:
        print (col)
# no mixed types

In [35]:
# check for mixed-types

for col in df1.columns.tolist():
    weird = (df1[[col]].applymap(type) != df1[[col]].iloc[0].apply(type)).any(axis = 1)
    if len (df1[weird]) > 0:
        pring(col)
# no mixed types

In [ ]:
df.to_csv('country_')